@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --primary-color: linear-gradient(145deg, #000c18, #001f3f);
  --background-color: rgb(216, 204, 204);
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--primary-color);
}

.main {
  width: 100%;
  padding: 10px;
}
